NODE_ENV=development
PORT=5000
RATE_TIME_LIMIT=50
RATE_REQUEST_LIMIT=500

JWT_SECRET='92989#bbnhdjkjkkasasajasokiasloa'

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=your password
DB_NAME=your db name